# --- GOOGLE OAUTH ---
VITE_GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com

# --- API CONFIGURATION ---
# Base URL for Backend API requests
VITE_API_URL=http://localhost:5000/api

# Base URL for fetching uploaded images directly from backend
VITE_IMAGE_BASE_URL=http://localhost:5000
